/*variable*/
:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --text-title-color: #212121;
}

/* reset styles by tag selector*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*general*/

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  font-family: var(--main-font);
}

/*=======HEADER=======*/

.header {
  padding-top: 24px;
  padding-bottom: 24px;

  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*LOGO*/
.logo {
  margin-right: 92px;

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-color-one {
  color: var(--accent-color);
}
.logo-color-two {
  color: #000000;
}
.logo-color-three {
  color: #ffffff;
}
/*END LOGO*/

.main-navigation {
  display: flex;
}

.menu {
  display: flex;
  align-items: center;
}
.menu-item:not(:last-child) {
  margin-right: 50px;
}

.menu-link {
  color: var(--text-title-color);
}

.menu-link.current {
  color: var(--accent-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.contact-header {
  display: flex;
}
.contact-header-item:not(:last-child) {
  margin-right: 50px;
}
.contact-header-link {
  color: #757575;
}
.contact-header-link:hover,
.contact-header-link:focus {
  color: var(--accent-color);
}
/*=======END HEADER=======*/

/*=======HERO=======*/
.hero {
  padding: 200px 0;
  text-align: center;
  background: #2f303a;
}
.hero-container {
}
.hero-title {
  margin-bottom: 30px;

  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
.modal-button {
  padding: 10px 32px;

  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

/*=======END HERO=======*/

/*=======FEATURES=======*/

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-between;*/
  margin-top: -30px;
  margin-left: -30px;
}
.features-item {
  /*width: 270px;*/
  margin-top: 30px;
  margin-left: 30px;

  flex-basis: calc((100% - 120px) / 4);
}
.features-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--text-title-color);
}
.features-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}
/*=======END FEATURES=======*/

/*=======SERVICES=======*/

.services {
  padding-top: 0px;
  padding-bottom: 94px;
}
.services-heading {
  margin-bottom: 50px;

  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--text-title-color);
}
.services-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.services-list-item {
  margin-top: 30px;
  margin-left: 30px;

  flex-basis: calc((100% - 90px) / 3);
}

/*=======END SERVICES=======*/

/*=======TEAM=======*/

.team {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-heading {
  margin-bottom: 50px;

  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--text-title-color);
}
.team-list {
  display: flex;
  flex-wrap: wrap;

  margin-top: -30px;
  margin-left: -30px;
}

.team-list-item {
  margin-top: 30px;
  margin-left: 30px;

  flex-basis: calc((100% - 120px) / 4);

  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
}

.team-member-frame {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-member-name {
  margin-bottom: 10px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--text-title-color);
}
.team-member-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}

/*=======END TEAM=======*/

/*=======FOOTER=======*/
.footer {
  padding: 60px 0;
  background-color: #2f303a;
}
.footer-container {
}

.logo-footer {
  margin-bottom: 20px;
}

.footer-address {
}
.footer-address-list {
}

.fotter-address-item:not(:last-child) {
  margin-bottom: 9px;
}
.fotter-address-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #ffffff;
}

.fotter-address-link:hover,
.fotter-address-link:focus {
  color: var(--accent-color);
}

.fotter-contact-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.fotter-contact-link:hover,
.fotter-contact-link:focus {
  color: var(--accent-color);
}

/*=======FOOTER=======*/

/*=======PORFOLIO PAGE=======*/

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-container {
}

/*filter*/
.filter-list {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}
.filter-buttom {
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--text-title-color);

  background: #f5f4fa;
  border-radius: 4px;

  border: none;

  cursor: pointer;
}

.filter-buttom.current {
  color: #ffffff;
  background: var(--accent-color);
}

.filter-buttom:hover,
.filter-buttom:focus {
  color: #ffffff;
  background: var(--accent-color);
}

/*end filter*/

/*gallery*/

.portfolio-list {
  display: flex;
  flex-wrap: wrap;

  margin-top: -30px;
  margin-left: -30px;
}
.portfolio-item {
  margin-top: 30px;
  margin-left: 30px;

  flex-basis: calc((100% - 90px) / 3);
}

.portfolio-item-frame {
  padding: 20px 24px;

  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-item-name {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--text-title-color);
}
.portfolio-item-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: #757575;

  /*end gallery*/
}
/*=======END PORFOLIO PAGE=======*/
